**/bower_components
**/dist/
**/node_modules/
**/.DS_Store
**/.tmp
**/json-server/public/
**/.idea/
**/json-server/db.json
**/*.classpath
**/*.project
**/*.settings/
**/*.tern-project
**/target/
**/bin/
alura-ant/agenda/BUILD/
**/classes/
**/build/
